* {
	margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
  background-color: black;
}

.contenedor{
	position: relative;
	background: #D51515;
	width: 100%;
	max-width: 500px;
	margin: 48px auto;
	
	border-radius: 5px;

	padding: 40px;
	
}

.contenedor .contenedor1 {
	color: white;
	text-align: center;
	font-family: Segoe UI;
}



.contenedor .entrada {
    outline: none;
	background: rgba(0,0,0,.5);
	display: block;
	width: 100%;
	padding: 15px 15px;
	color: #fff;
	border: 5px;;
	border-radius: 2px;
	border-bottom: 4px solid #BD3232;
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 20px 0;
}